# Editor / OS cruft
*.swp
*.swo
*.tmp
*.log
*.bak
*~
.idea/
.vscode/
*.DS_Store
Thumbs.db

# ignore *all* data under postgresql/data/
postgresql/*

# except the .gitignore in that folder
!postgresql/.gitignore